[Unit]
Description=Runs Jamf Pro Get Notifications at 30 minutes past every hour

[Timer]
OnCalendar=*-*-* *:30:00
Persistent=true

[Install]
WantedBy=timers.target
